* {
   font-family: 'Arial';
}

a {
  color: #D8B08C;
}

body {
  background: #2C3532;
  color: #FFCB9A;
}

section {
  background: #0F6466;
  color: #D2E8E3;
  border-radius: 32px;
  padding: 8px 16px;
  margin: 32px;
}


footer {
  background: white;
  color: black;
  text-align: center;
}


.foto-chester {
  width: 500px;
  border: 20px solid white;
  border-bottom-width: 70px;
  position: relative;
  box-shadow: 20px 20px 15px 0px black;
}


.fotito {
  position: relative;
}

picture h1 {
  position: absolute;
  bottom: 0;
  left: 25px;
  color: black;

}